In [16]:
import pandas as pd

In [1]:
print('hello')

hello

In [6]:
num = [0,1,2,3,4,5]
num[0]
num[1]

1

In [7]:
list2 = ['i', 'love', 'you', 3000]
print(list2[3])

3000

In [8]:
dict_1 = {'a':'휴마인', 'b':'판다스', 'c':'수업'}
print(dict_1)

{'a': '휴마인', 'b': '판다스', 'c': '수업'}

In [9]:
dict_1['c']

'수업'

In [10]:
for i in dict_1.keys():
    print(i)

a
b
c

In [11]:
list_1 = list(dict_1.keys())
print(list_1)

['a', 'b', 'c']

In [12]:
dict_1.values()

dict_values(['휴마인', '판다스', '수업'])

In [13]:
dict_1.items() #키와밸류가 튜플세트로 출력

dict_items([('a', '휴마인'), ('b', '판다스'), ('c', '수업')])

In [14]:
dict_mine = {
    'first name' : 'jiwon',
    'last name' : 'Song',
    'sex' : 'spectrum',
    'age' : 23
}
dict_mine['first name']

'jiwon'

In [17]:
groceries = pd.Series(index = ['eggs', 'apples', 'milk', 'bread'], data = [30, 6, 'yes', 'no'])
print(groceries)

eggs       30
apples      6
milk      yes
bread      no
dtype: object

In [18]:
print("값", groceries.values)
print("인덱스", groceries.index)

값 [30 6 'yes' 'no']
인덱스 Index(['eggs', 'apples', 'milk', 'bread'], dtype='object')

In [24]:
Today_todo = pd.Series(index = ['math', 'review', 'machine_learning'], data = ['sesac', 'check', 'data_diving'])
print(Today_todo)

math                      sesac
review                    check
machine_learning    data_diving
dtype: object

In [25]:
print("값", Today_todo.values)
print("인덱스", Today_todo.index)

값 ['sesac' 'check' 'data_diving']
인덱스 Index(['math', 'review', 'machine_learning'], dtype='object')

In [27]:
print(Today_todo[['math', 'review']])

math      sesac
review    check
dtype: object

In [28]:
print(Today_todo[[1,2]])

review                    check
machine_learning    data_diving
dtype: object

C:\Users\user\AppData\Local\Temp\ipykernel_5476\2804457840.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(Today_todo[[1,2]])

In [29]:
print(groceries[['eggs', 'bread']]) #시리즈는 [[대괄호두개로 복수접근]]
print(groceries[[0, 3]])

eggs     30
bread    no
dtype: object
eggs     30
bread    no
dtype: object

C:\Users\user\AppData\Local\Temp\ipykernel_5476\1515807650.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(groceries[[0, 3]])

 #loc, iloc
 ### loc (location) : str 인덱스// 레이블명 또는 별명으로 정의된 인덱스를 바탕으로 접근
 ### iloc : 정수형 인덱스(순서)를 바탕으로 접근

In [30]:
print(groceries.loc[['apples', 'milk']])
print(groceries.iloc[[1, 2]])

apples      6
milk      yes
dtype: object
apples      6
milk      yes
dtype: object

In [31]:
groceries

eggs       30
apples      6
milk      yes
bread      no
dtype: object

In [32]:
groceries['milk'] = 3
print(groceries)

eggs      30
apples     6
milk       3
bread     no
dtype: object

In [34]:
groceries['apples'] = 15
print(groceries)

eggs      30
apples    15
milk       3
bread     no
dtype: object

In [35]:
groceries.drop('bread', inplace = True)

In [36]:
groceries

eggs      30
apples    15
milk       3
dtype: object

In [37]:
groceries.drop('apples', inplace = True)
groceries

eggs    30
milk     3
dtype: object

In [38]:
salary = pd.Series(index = ['ryu', 'son', 'faker'], data = [242, 343, 545])
salary

ryu      242
son      343
faker    545
dtype: int64

In [41]:
print(salary * 2, end = '\n\n')
print(salary + 2, end = '\n\n')
print(salary / 2, end = '\n\n')
print(salary // 2, end = '\n\n')

ryu       484
son       686
faker    1090
dtype: int64

ryu      244
son      345
faker    547
dtype: int64

ryu      121.0
son      171.5
faker    272.5
dtype: float64

ryu      121
son      171
faker    272
dtype: int64

In [42]:
salary['son'] += 20
print(salary)

ryu      242
son      363
faker    545
dtype: int64

In [48]:
salary['son'] += 50
salary['ryu'] += 300
salary

ryu      1742
son       613
faker     545
dtype: int64

In [49]:
items = {
    'alex' : pd.Series(data = [30, 6], index = ['eggs', 'apples']),
    'alice' : pd.Series(data = [5, 2], index = ['milk', 'bread'])
    
}
print(items)

{'alex': eggs      30
apples     6
dtype: int64, 'alice': milk     5
bread    2
dtype: int64}

In [50]:
items['alex']

eggs      30
apples     6
dtype: int64

In [51]:
items_df = pd.DataFrame(items)
items_df

        alex  alice
apples   6.0    NaN
bread    NaN    2.0
eggs    30.0    NaN
milk     NaN    5.0

In [52]:
print('shape: ', items_df.shape)
print('dimension: ', items_df.ndim)
print('size: ', items_df.size)

shape:  (4, 2)
dimension:  2
size:  8

In [54]:
print(items_df.index) # 이 행들 이름이 뭐였더라?
print(items_df.columns) #아 컬럼 이름들이 뭐였더라? 할 때 유용

Index(['apples', 'bread', 'eggs', 'milk'], dtype='object')
Index(['alex', 'alice'], dtype='object')

#데이터프레임 탐색
## 특정 데이터 프레임 셀에 접근 
## DF 이름뒤에 바로 대괄호를 넣으면 컬럼의 이름을 쓰면되고 (열 값 가져옴) 
## 로우값을 가져오고 싶으면 loc, iloc 를 쓰면 됨 
## 몇번째 순서의 컬럼을 가져오고 싶다 [[0, 1]]
## 여러 열에 접근시 [[]] 대괄호 두 개!! 
## 특정 데이터 셀! 에 접근하고싶으면 df[열][행]

In [57]:
alex_list = items_df['alex']
alex_alice_list = items_df[['alex', 'alice']]
print(alex_alice_list)

        alex  alice
apples   6.0    NaN
bread    NaN    2.0
eggs    30.0    NaN
milk     NaN    5.0

In [66]:
#계란을 누가, 몇 개 사갔니? # 행의 정보를 가져오고싶은거잖아?  행을 가져올땐 loc, iloc
about_egg = items_df.loc[['bread','eggs']] # 가져오고싶은 행을 써주면돼
print(about_egg)

       alex  alice
bread   NaN    2.0
eggs   30.0    NaN

In [69]:
about_egg = items_df.iloc[[0, 2]] #순서로 가져올 때 
print(about_egg)

        alex  alice
apples   6.0    NaN
eggs    30.0    NaN

In [72]:
#구체적으로, 딱 하나의 데이터만 가져오고 싶다면? alice 가 egg를 몇 개 샀니? 

alice_egg = items_df['alex']['eggs'] #df[열][행]
print(alice_egg)

30.0

In [74]:
about_bread = items_df.loc['bread'] #뭘써야할까 이름뒤에 바로 대괄호를 넣으면 컬럼의 이름을 쓰면되고 
print(about_bread) # 로우값을 가져오고 싶으면 loc, iloc 를 쓰면 됨

alex     NaN
alice    2.0
Name: bread, dtype: float64

In [76]:
# alice 가 milk 몇 개?
alice_milk = items_df['alice']['milk'] #처음엔 [열지정][행지정]
print(alice_milk)

5.0